<h1> Publisher </h1>
<%= form_for :publisher , url: publisher_path(@publisher), method: :patch do |c| %>
<p>
   <%= c.label :name %> <br>
   <%= c.text_field :name, value: @publisher.name %>
</p>
<p>
<%= c.label :address %> <br>
<%= c.text_field :address, value: @publisher.address %>
</p>
<p>
    <%= c.submit %>
</p>
<% end %>
