 <button> <%= link_to "CREATE A NEW PUBLISHER",new_publisher_path %> </button>
<table class= "table table-striped">
     <thead>
       <tr>
         <th> ID </th>
         <th> NAME </th>
         <th> ADDRESS </th>
         <th> EDIT </th>
         <th> DELETE </th>
       </tr>
     </thead>
     <% @publisher.each do |publisher| %> 
     <tbody>
       <tr>
         <td>  <%= publisher.id %></td> 
         <td>  <%= publisher.name %> </td>
         <td> <%= publisher.address %> </td>
         <td> <button> <%= link_to  "Edit", edit_publisher_path(publisher) %> </button> </td>
         <td> <button> <%= link_to  "delete", publisher_path(publisher),method: :delete %> </button> </td>
       </tr>
     </tbody> 
     <% end %>   
</table>
