<h1> Publisher </h1>
<%= form_for :publisher, url: {action: "create"} do |c| %>
<p>
  <%= c.label :name %> <br>
  <%= c.text_field :name %>
</p>
<p>
  <%= c.label :address %> <br>
  <%= c.text_field :address %>
</p>
<p>
  <%= c.submit %>
</p>
<% end %>
