 <button> <%= link_to "CREATE A NEW BOOK",new_book_path %> </button>
<table class= "table table-striped">
     <thead>
       <tr>
         <th> ID </th>
         <th> AUTHOR </th>
         <th> TITLE </th>
         <th> PRICE </th>
         <th> AVAILABILITY </th>
         <th> EDIT </th>
         <th> DELETE </th>
       </tr>
     </thead>
     <% @book.each do |book| %> 
     <tbody>
       <tr>
         <td>  <%= book.id %></td> 
         <td>  <%= book.author %> </td>
         <td> <%= book.title %> </td>
         <td> <%= book.price %> </td>
         <td> <%= book.availability %> </td>
         <td> <button> <%= link_to  "Edit", edit_book_path(book) %> </button> </td>
         <td> <button> <%= link_to  "delete", book_path(book),method: :delete %> </button> </td>
       </tr>
     </tbody> 
     <% end %>   
</table>
