<h1> book </h1>
<%= form_for :book, url: {action: "create"} do |c| %>
<p>
  <%= c.label :author %> <br>
  <%= c.text_field :author %>
</p>
<p>
  <%= c.label :title  %> <br>
  <%= c.text_field :title %>
</p>
<p>
  <%= c.label :price %> <br>
  <%= c.text_field :price %>
</p>
<p>
  <%= c.label :availability %> <br>
  <%= c.text_field :availability %>
</p>
<p>
  <%= c.submit %>
</p>
<% end %>