<h1> BOOKMEMBER </h1>
<%= form_for :book_member, url: book_member_path(@book_member), method: :patch do |c| %>
<p>
  <%= c.label :return_date %> <br>
  <%= c.text_field :return_date %>
</p>
<p>
  <%= c.submit %>
</p>
<% end %>
