<button> <%= link_to "CREATE A NEW BOOKMEMBER",new_book_member_path %> </button>
<table class= "table table-striped">
     <thead>
       <tr>
         <th> ID </th>
         <th> BOOK TITLE </th>
         <th> MEMBER INFO </th>
         <th> ISSUE DATE </th>
         <th> DUE DATE </th>
         <th> RETURN DATE </th>
         <th> EDIT </th>
         <th> DELETE </th>
       </tr>
     </thead>
     <% @book_member.each do |book_member| %> 
     <tbody>
       <tr>
         <td>  <%= book_member.id %></td> 
         <td>  <%= book_member.book.title %> </td>
         <td> <%= book_member.member.memb_info %> </td>
         <td> <%= book_member.issue_date %> </td>
         <td> <%= book_member.due_date %> </td>
         <td> <%= book_member.return_date %> </td>
         <td> <button> <%= link_to  "Edit", edit_book_member_path(book_member) %> </button> </td>
         <td> <button> <%= link_to  "delete", book_member_path(book_member),method: :delete %> </button> </td>
       </tr>
     </tbody> 
     <% end %>   
</table>
