<h1> BookMember </h1>
<%= form_for :book_member, url: {action: "create"} do |c| %>
<p>
  <%= c.label :issue_date %> <br>
  <%= c.text_field :issue_date %>
</p>
<p>
  <%= c.label :due_date %> <br>
  <%= c.text_field :due_date %>
</p>
<p>
  <%= c.label :book_id %>
  <%= collection_select(:book_member, :book_id, @books, :id, :title, prompt: true) %>
</p>
<p>
  <%= c.label :member_id %>
  <%= collection_select(:book_member, :member_id, @members, :id, :memb_info, prompt: true) %> 
</p>
<p>
  <%= c.submit %>
</p>
<% end %>
