<h1> BOOKPUBLISHER </h1>
<%= form_for :book_publisher , url: book_publisher_path(@book_publisher), method: :patch do |c| %>
<p>
  <%= c.label :pub_date %> <br>
  <%= c.text_field :pub_date %>
</p>
<p>
  <%= c.submit %>
</p>
<% end %>
