<button> <%= link_to "CREATE A NEW BOOKPUBLISHER",new_book_publisher_path %> </button>
<table class= "table table-striped">
     <thead>
       <tr>
         <th> ID </th>
         <th> BOOK TITLE </th>
         <th> PUBLISHER NAME </th>
         <th> PUBLISH_DATE </th>
         <th> EDIT </th>
         <th> DELETE </th>
       </tr>
     </thead>
     <% @book_publisher.each do |book_publisher| %> 
     <tbody>
       <tr>
         <td>  <%= book_publisher.id %></td> 
         <td>  <%= book_publisher.book.title %> </td>
         <td> <%= book_publisher.publisher.name %> </td>
         <td> <%= book_publisher.pub_date %> </td>
         <td> <button> <%= link_to  "Edit", edit_book_publisher_path(book_publisher) %> </button> </td>
         <td> <button> <%= link_to  "delete", book_publisher_path(book_publisher),method: :delete %> </button> </td>
       </tr>
     </tbody> 
     <% end %>   
</table>
