<h1> BookPublisher </h1>
<%= form_for :book_publisher, url: {action: "create"} do |c| %>
<p>
  <%= c.label :pub_date %> <br>
  <%= c.text_field :pub_date %>
</p>
<p>
  <%= c.label :book_id %>
  <%= collection_select(:book_publisher, :book_id, @books, :id, :title, prompt: true) %>
</p>
<p>
  <%= c.label :publisher_id %>
  <%= collection_select(:book_publisher, :publisher_id, @publishers, :id, :name, prompt: true) %> 
</p>
<p>
  <%= c.submit %>
</p>
<% end %>
