/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar{
    background-color:	#2f2626;
}
.navbar a:hover{
    color: white;
}
.navbar a{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration:none ;
}
.alert-container{
    margin-top: 50px !important;
    margin-left: 200px !important;
    margin-right: 200px !important;
    text-align: center !important;
}
