<h1> Member </h1>
<%= form_for :member , url: member_path(@member), method: :patch do |c| %>
<p>
  <%= c.label :memb_info %> <br>
  <%= c.text_field :memb_info, value: @member.memb_info %>
</p>
<p>
  <%= c.label :memb_type %> <br>
  <%= c.text_field :memb_type, value: @member.memb_type %>
</p>
<p>
  <%= c.label :address %> <br>
  <%= c.text_field :address, value: @member.address %>
</p>
<p>
  <%= c.label :attriName %> <br>
  <%= c.text_field :attriName, value: @member.attriName %>
</p>
<p>
  <%= c.label :expiry_date %> <br>
  <%= c.text_field :expiry_date, value: @member.expiry_date %>
</p>
<p>
  <%= c.submit %>
</p>
<% end %>
