 <button> <%= link_to "CREATE A NEW MEMBER",new_member_path %> </button>
<table class= "table table-striped">
     <thead>
       <tr>
         <th> ID </th>
         <th> MEMB_INFO </th>
         <th> MEMB_TYPE </th>
         <th> ADDRESS </th>
         <th> ATTRINAME </th>
         <th> EXPIRY_DATE</th>
         <th> EDIT </th>
         <th> DELETE </th>
       </tr>
     </thead>
     <% @member.each do |member| %> 
     <tbody>
       <tr>
         <td>  <%= member.id %></td> 
         <td>  <%= member.memb_info %> </td>
         <td>  <%= member.memb_type %> </td>
         <td> <%= member.address %> </td>
         <td> <%= member.attriName %> </td>
         <td> <%= member.expiry_date %> </td>
         <td> <button> <%= link_to  "Edit", edit_member_path(member) %> </button> </td>
         <td> <button> <%= link_to  "delete", member_path(member),method: :delete %> </button> </td>
       </tr>
     </tbody> 
     <% end %>   
</table>
