<h1> Member </h1>
<%= form_for :member, url: {action: "create"} do |c| %>
<p>
  <%= c.label :memb_info %> <br>
  <%= c.text_field :memb_info %>
</p>
<p>
  <%= c.label :memb_type %> <br>
  <%= c.text_field :memb_type %>
</p>
<p>
  <%= c.label :address %> <br>
  <%= c.text_field :address %>
</p>
<p>
  <%= c.label :attriName %> <br>
  <%= c.text_field :attriName %>
</p>
<p>
  <%= c.label :expiry_date %> <br>
  <%= c.text_field :expiry_date %>
</p>
<p>
  <%= c.submit %>
</p>
<% end %>
